:root {
  --kt-green: #61d249;
  --kt-grey: #ecf1fb;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--kt-grey);
}
.kt-card {
  width: 100%;
  background-color: var(--kt-grey);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.kt-card__header {
  background-color: var(--kt-green);
  color: white;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}
.kt-card__table-info {
  font-size: 16px;
  display: block;
  line-height: 1.25;
}
.kt-card__guest-count {
  font-size: 14px;
  display: block;
  line-height: 1.25;
}
.kt-card__role {
  font-size: 12px;
  display: block;
  line-height: 1.25;
}
.kt-card__timestamp {
  font-size: 16px;
}
.kt-card__btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: rgb(236, 241, 251);
  background: -moz-linear-gradient(
    351deg,
    rgba(236, 241, 251, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  background: -webkit-linear-gradient(
    351deg,
    rgba(236, 241, 251, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  background: linear-gradient(
    351deg,
    rgba(236, 241, 251, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecf1fb",endColorstr="#fafafa",GradientType=1);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 20px 0px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.kt-card__btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  transition: all 0.3s ease-in-out;
}
.kt-card__btn-wide {
  padding: 5px 25px;
}
.kt-card__btn--green-text {
  color: var(--kt-green);
}
.kt-card__body {
  padding: 5px;
}
.kt-card__list {
  padding-left: 0px;
  list-style: none;
}
.kt-card__item {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  margin: 5px auto;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.1);
}
.kt-card__item:last-child {
  margin-bottom: 0px;
}
.kt-card__actions {
  display: flex;
  align-items: center;
}
.kt-card__actions button:first-child {
  margin-right: 10px;
}
.kt-card__footer {
  padding: 0px 10px 15px;
}
.kt-card__header-image{
  width: 42px;
  height: 42px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}